@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@mixin cartTypography {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
  @media (max-width: 650px) {
    padding: 20px 0;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.logoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;

}

.logo {
  width: 254px;
  height: 75px;
  cursor: pointer;
  @media (max-width: 980px) {
display: none;
  }
}

.headerTextContent {
  margin-top: 19px;
  @media (max-width: 980px) {
    margin: 0;
  }
}

.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #232323;
}

.accent {
  color: #FE5F1E;
}

.subtitle {
  @include cartTypography;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  color: #7B7B7B;
}

.cartSection {
  background-color: #0076CA;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
  border-radius: 30px;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  margin-top: 18px;
  padding: 15px 23px;
  user-select: none;

  &:hover {
    background-color: #0067b1;
  }

  &:active {
    background-color: #0076CA;
    margin-top: 20px;
  }
}

.cartPrice {
  @include cartTypography;
  text-align: right;
}

.valueWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.value {
  @include cartTypography;
}

.rub {
  @include cartTypography;
}

.stick{
  width: 1px;
  height: 25px;
  background: rgba(255, 255, 255, 0.25);
}
