.wrapper {
  padding: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f6f6f6;

  .label {
    display: flex;
    gap: 10px;
    align-items: center;

    .typography {
      display: flex;
      flex-direction: column;
    }
  }

  img {
    width: 80px;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 27px;
  }

  p {
    color: #8d8d8d;
    font-size: 18px;
  }


  b {
    font-size: 22px;
  }
}

.valueWrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

@mixin btn-style {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .15s ease-in-out;
  cursor: pointer;
  border: 2px solid #fe5f1e;
}

@mixin svg-style{
  position: relative;
  width: 12px;
  height: 12px;
}

.delete {
  color: #fe5f1e;
  @include btn-style;
  border: 2px solid #ddd;

  &:hover {
    border-color: #000;
    background-color: #232323;
  }

  svg {
    @include svg-style;
    transform: rotate(45deg);

    path {
      fill: #d0d0d0;
    }
  }

  &:hover {
    svg {
      path {
        fill: #f3f3f3;
      }
    }
  }
}

.plus {
  border: 2px solid #fe5f1e;
  @include btn-style;
  svg {
    @include svg-style;
    path {

    }
  }
  &:hover{
    background-color: #fe5f1e;
    svg{
      path{
        fill: #f3f3f3;
      }
    }
  }


}

.minus {
  @include btn-style;
  border: 2px solid #fe5f1e;
  svg {
    path {
@include svg-style;
    }
  }
  &:hover{
    background-color: #fe5f1e;
    svg{
      path{
        fill: #f3f3f3;
      }
    }
  }
}