.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f6f6f6;

  .label {
    display: flex;
    gap: 10px;
    align-items: center;

    .typography {
      display: flex;
      flex-direction: column;
    }
  }

  img {
    width: 80px;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 27px;
  }

  p {
    color: #8d8d8d;
    font-size: 18px;
  }

  button {
    border-color: #fe5f1e;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    color: #fe5f1e;
    width: 32px;
    height: 32px;
  }

  b {
    font-size: 22px;
  }
}

.delete {
  svg {
    transform: rotate(45deg);
    path {

    }
  }
}

.plus {
  svg {
    path {

    }
  }
}

.minus {
  svg {
    path {

    }
  }
}